// Define variables for your color scheme

// Color scheme
$primary: #37aa3d; //  Dark Pastel Green
$primary-light: #C3EAC5; // Tea Green
$secondary: #C78669; // Copper Crayola
$secondary-light: #EEDBD2; // Champagne Pink
$yellow: #F0D946; // Minion Yellow
$yellow-hover: #F7ECA1; // Green Yellow Crayola
$red: #EB5E55; // Fire Opal
$red-hover: #F6BAB6; // Spanish Pink
$blue: #1CA3EC; // Carolina Blue
$blue-hover: #B4E1F9; // Uranian Blue
$black: #333; // For text
$white: white; // For text
$background: #FAFAFF; // Ghost White

$light-gray: #F4F4F4;
$red-opacity: #eb5f55aa; // Fire Opal
$primary-opacity: #49bf4faa; //  Dark Pastel Green

// C78669
