// Import Google fonts
@import "colors";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Dosis:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap');
// Define fonts for body and headers
$body-font: "Source Sans 3", "Roboto", "Helvetica", "sans-serif";
$headers-font: "Bubblegum Sans", "Dosis", "Helvetica", "sans-serif";

h1, h2, h3, h4, p {
  color: $black;
}
