.proofs-horizontal {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.top-text {
  text-align: center;
  h3{
    margin: 0;
    color: $primary;
  }
  p {
    margin: 0;
    color: $secondary;
  }
}
