.my_groups{
  a{
    text-decoration: none;
  }


}

.card-challenge-buttons {
  .btn-regular{
    padding: 0.375rem 0.3rem;
  }
}

.cards-ind-dashboard {
  padding-bottom: 1rem;
}

#join-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #btn-join-group {
    margin-bottom: 10px;
  }
}
