.ui-kit-circle {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0.5em;
}

#primary {
  background-color: $primary;
}

#primary-light {
  background-color: $primary-light;
}

#secondary {
  background-color: $secondary;
}

#secondary-light {
  background-color: $secondary-light;
}

#red {
  background-color: $red;
}

#red-hover {
  background-color: $red-hover;
}

#yellow {
  background-color: $yellow;
}

#yellow-hover {
  background-color: $yellow-hover;
}

#blue {
  background-color: $blue;
}

#blue-hover {
  background-color: $blue-hover;
}
