.ui-kit-circle {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0.5em;
  font-size: smaller;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;}

#primary {
  background-color: $primary;
}

#primary-light {
  background-color: $primary-light;
}

#secondary {
  background-color: $secondary;
}

#secondary-light {
  background-color: $secondary-light;
}

#red {
  background-color: $red;
}

#red-hover {
  background-color: $red-hover;
}

#yellow {
  background-color: $yellow;
}

#yellow-hover {
  background-color: $yellow-hover;
}

#blue {
  background-color: $blue;
}

#blue-hover {
  background-color: $blue-hover;
}
