.user-dashboard-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
  border-bottom: 2px groove $secondary-light;
}


.user-avatar {
 display: flex;

 flex-direction: column;
 text-align: center;
}


#update_picture_link {
  font-size: medium;
  margin-top: 0.5rem;
}


.cards-grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-between;
}
.group-invite-container {
  margin-bottom: 2rem;
}
