
<div class="modal fade" id="readRulesModal" tabindex="-1" aria-labelledby="readRulesModal" aria-hidden="true">
  <div class="modal-dialog .modal-dialog-centered .modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="readRulesModal">How to play?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Welcome to <strong>Ecolympians</strong></h1>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-regular" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
