<div class="container">
  <h1>UI Kit</h1>
  <!-- Color Scheme -->
  <h2>Colors:</h2>

  <!-- Components -->
  <h2>Basic Components</h2>

  <!-- Buttons -->
  <h3>Buttons</h3>
  <div class = "btn-regular mb-3">Join Group</div>
  <div class = "btn-welcome mb-3">Get Started</div>
  <div class = "btn-search mb-3"><i class="fa fa-solid fa-vr-cardboard"></i></div>
  <div class = "btn-vote mb-3">Challenge # <div class="btn-vote-round"><span>Vote</span></div></div>
  <div class = "btn-footer mb-3">
    <i class="fa fa-solid fa-vr-cardboard"></i>
    <i class="fa fa-solid fa-vr-cardboard"></i>
    <i class="fa fa-solid fa-vr-cardboard"></i>
    <i class="fa fa-solid fa-vr-cardboard"></i>
  </div>

  <!-- Avatars -->
  <h3>Avatars</h3>
  <div class = "mb-3"><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></div>

  <!-- Searchbar -->
  <h3>Searchbar</h3>

  <!-- Navbar -->
  <h3>Navbar</h3>

  <!-- Tabs -->
  <h3>Tabs</h3>

  <h2>Complex Components</h2>

  <!-- Cards -->
  <h3>Cards</h3>

  <!-- Challenge card -->

  <!-- Proof card -->

  <!-- Group card -->

  <!-- Notifications -->
  <h3>Notifications</h3>


  <!-- Ranking table -->
</div>
