<div data-search-challenges-target="list">

  <% challenges.all.each do |challenge| %>
    <div class="card-challenges">
      <div class="info-challenge">
        <h2><%=challenge.name %></h2>
        <p>Description: <%= challenge.description %></p>
        <p>Type: <%= challenge.category %> </p>
      </div>

      <div class="challenge-score">
        <p>Score:<p>
        <p><%= challenge.score %></p>
      </div>

    </div>
  <% end %>
</div>
