.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 10px 5px 24px 24px;
}

//Group card


.card-groups {
  height: 250px;
  width: 47%;
  position:relative;
  background-color: $white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
  //border: 1px solid $secondary;
  border-radius:15px;
  //.card-group-infos
  .card-group-wrapper {
  //background-color: $blue;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 5px;
  }
  img {
    border: 4px solid $white;
    border-radius: 50%;
    width:70px;
    position:relative;
    top:-38px;
  }
  .card-group-infos {
    position:relative;
    top:-36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    // h3 {
    //   white-space: nowrap;
    // }
  }
  .color-band {
    height:75px;
    background-color: $secondary;
    border-radius: 15px;
  }
}

//Player card
.card-player {
  background-color: $white;
  width:90%;//making width change for mobile view
  margin:0 auto;
  height:75px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color: $secondary;
  border-radius: 5px;
  padding: 0 1rem 0 0;
  box-shadow: 2px 2px 8px #c787693b;
  p{
    margin:0;
  }
  span {
    color: $black;
    font-weight:bold;
  }
  .card-player-infos {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}

.card-player-left {
  height: 100%;
    .color-band {
    height: 100%;
    background-color: $secondary;
    border-radius: 15px;
    width: 60px;
  }
    img {
    border: 2px solid $white;
    position: relative;
    left: 1.5rem;
    top: 0.5rem;
  }
  .avatar-badge {
    position: relative;
    top: -2.25rem;
    left: -0.25rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $white;
  }
}

.card-member-pending-invitation {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

// Proof card

.proof-card {
  scroll-snap-align: center;
  min-width: 90vw;
  background-color: $primary-light;
  margin: 1rem 5vw;
  border-radius: 16px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 24px #c7866982;

  h4 {
    margin: 0;
  }
}

@media(max-height: 660px) {
.proof-card {
  height: 60vh;
  }
}

@media(min-height: 660px) {
.proof-card {
  height: 65vh;
  }
}

@media(min-height: 700px) {
.proof-card {
  height: 68vh;
  }
}

@media(min-height: 760px) {
.proof-card {
  height: 73vh;
  }
}

.proof-card-top {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  h3 {
    font-size: x-large;
    color: $black;
    margin: 0;
  }
}

.proof-card-img {
  width: fit-content;
  height: 50%;

  img {
    width: auto;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 0 8px #c7866982;
    transition: 0.5s ease-in-out;
    touch-action: pinch-zoom;
    object-fit: cover;
  }

  img:active {
    z-index: 10;
    aspect-ratio: initial;
    position: absolute;
    bottom: 25vh;
    top: 25vh;
    right: 2.5vw;
    left: 2.5vw;
    width: 95vw;
    height: auto;
    transition: 0.5s ease-in-out;
  }
}

.proof-card-end-votes {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 4rem;
  padding: 0 1.5rem;
}

.proof-card-end-vote {
  color: $white;
  font-size: large;
  word-spacing: 1em;
}

.red-circle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $red-opacity;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.green-circle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $primary-opacity;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}



.proof-card-text {
  width: 100%;
  max-height: 18%;
  border-radius: 8px;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #f6f4e4;
  font-size: large;
  color: $black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.212);
}

.proof-card-vote {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-vote-proof-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  border-radius: 8px;
  background-color: $primary;
  color: $white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.412);
  span {
    text-align: center;
  }
  a {
    color: $background;

  }
}

.vote-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#decline {
  background-color: $red;
}

@media(max-width: 768px) {
.cards {
  grid-template-columns: 1fr;
  }
}
