.challenges-index {

  h1, .search-challenges, .create-tag {
    text-align: center;
  }

  h1 {
    background: $background;
    color: $primary;
    width: 100%;
    position: fixed;
    top: 3rem;
    z-index: 10;
    background: $background;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .search-challenges {
    background: $background;
    width: 100%;
    position: fixed;
    top: 8rem;
    z-index: 10;
    // padding-bottom: 1rem;
  }

  .create-tag {
    margin-bottom: 0.4rem;
  }

  .create-button-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 9rem;
    z-index: 9;
    background: $background;
    .btn-welcome {
      width: 17rem;
    }
  }

  .challenges-page {
    .challenges {
      padding-top: 12rem;
    }
  }
  .card-challenges {
    height: auto;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.8rem;
    // transition-property: background-color, font-size, transform, color;
    // transition-timing-function: ease-in-out;
    // transition-duration: 3s;
    p {
      color: $white;
      margin: 0;
    }

    .challenge-category {
      text-align: center;
      background-color: $background;
      border-radius: 0.8rem;
      p {
        font-size: 1rem;
        color: black;
        font-style: italic;
        font-weight: bold;
      }
    }

    // .transformed-state {
    //   transform: rotate(270deg);
    //   background-color: blue;
    //   color: yellow;
    //   font-size: 12px;
    //   transition-property: background-color, font-size, transform, color;
    //   transition-timing-function: ease-in-out;
    //   transition-duration: 3s;
    // }

    // .display {
    //   transition: 1s;
    // }
  }

  .card-challenges:hover {
    box-shadow: 0rem 0.2rem 0.8rem rgba(6, 92, 8, 0.4);
    transform: scale(1.01);
  }


  .info-challenge {
    min-height: 8rem;
    padding: 1rem;
    p {
      line-height: 1.5rem;
      text-overflow: ellipsis;
    }
    h2 {
      color: $yellow-hover;
    }

  }


  .challenge-score p {
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-left: 1rem;
  }

  .card-blue {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }

  .card-pink {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }

  .card-dark {
    background: radial-gradient(#76b2fe, #b69efe);
  }

  .card-green {
    background: radial-gradient(#60efbc, #58d5c9);
  }

  .card-purple {
    background: radial-gradient(#f588d8, #c0a3e5);
  }

}


.new-challenge {
  padding: 3rem;

  h1 {
    color: $primary;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.card-challenge-buttons {
  display: flex;
  max-height: 4rem;
  justify-content: space-evenly;
  width: 100%;
  align-self: center;
  margin-bottom: 1rem;
  .btn-regular {
    text-align: center;
    padding: 0.375rem 1rem;
  }
}


#category {
  font-size: 800;
}
