.potential-challenges {
  text-align: center;
}
.form-example {
  background-color: $secondary-light;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin: 2rem;//reduced margin to widen drop-down container for choosing next challenge
  border-radius: 1rem;
}
#challenge1 , #challenge2, #challenge3 {
  margin-bottom: 3rem;
  border-radius: 0.6rem;
  width: max-content;


}
.hover-div1, .hover-div2, .hover-div3  {
  margin-top:-30px;
  margin-bottom:-30px;
  font-size:20px;
}

.card-potential-challenges {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-light;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}
.score-potential-challenges {
  text-align: center;
  font-weight: bold;
}

.primary-text {
  color: $primary;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  padding-top:0;//to center-align vote count
}

.info-potential-challenges {
  width: 80%;
}
