.potential-challenges {
  text-align: center;
}
.form-example {
  background-color: $secondary-light;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin: 3rem;
  border-radius: 1rem;
}
#challenge1 , #challenge2, #challenge3 {
  margin-bottom: 3rem;
  border-radius: 0.6rem;
  width: max-content;
}
.card-potential-challenges {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-light;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}
.score-potential-challenges {
  text-align: center;
  font-weight: bold;
}
