.potential-challenges {
  text-align: center;
}
.form-example {
  background-color: $white;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin: 2rem;//reduced margin to widen drop-down container for choosing next challenge
  border-radius: 1rem;
  box-shadow: 4px 4px 16px #c7866982;

  .searchbar {
    font-size: large;
    width: 75% !important;
    margin-bottom: 1rem;
  }
}
#challenge1 , #challenge2, #challenge3 {
  margin-bottom: 3rem;
  border-radius: 0.6rem;
  width: max-content;
  background-color: $background

}




.hover-div1, .hover-div2 {
  margin-top:-30px;
  margin-bottom:-30px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size:large;
}
.hover-div3 {
  margin-top:-30px;
  font-size:large;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-potential-challenges {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  box-shadow: 4px 4px 16px #c7866982;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}
.score-potential-challenges {
  text-align: center;
  font-weight: bold;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: $secondary;
  }
    .btn-regular {
    padding: 0.375rem;
  }
}

.primary-text {
  color: $primary;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  padding-top:0;//to center-align vote count
}

.info-potential-challenges {
  padding-right: 1rem;
    h5 {
    color: $secondary;
  }
}
