.navbar-lewagon {
  justify-content: space-between;
  align-content: center;
  background: $primary;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30%;
}

.navbar-brand h1 {
  color: $white;
}
