.navbar-lewagon {
  justify-content: space-between;
  align-content: center;
  background: $primary;
  .nav-item .nav-link {
    color: $white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30%;
}

.navbar-brand h2 {
  color: $white;
  margin: 0;
}
