#pills-tab .dashboard-tab {
  color: $black;
}

#pills-tab .dashboard-tab.nav-link.active{
  color: $black;
  background-color: $primary-light;
}

#pills-tab {
  flex-wrap: nowrap;
  .nav-item {
    width: 100%;
    .nav-link {
      width: 100%;
    }
  }
}
